<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- <listeners>
<listener class-name="Util.ExtentTestListner"></listener>



</listeners> -->

  <test thread-count="5" name="Test">
  
  <parameter name="BrowserName" value="chrome"></parameter>
<!--    <parameter name="BrowserName" value="Edge"></parameter> -->
  
  <classes>

<class name="TestScript.ShopGroupManagementTest"></class>
<class name="TestScript.ShopList"></class>
<class name="TestScript.ShopImportExcel"></class>  
<class name="TestScript.ShopListSearchTest"></class>
<class name="TestScript.TerminalTest"></class>
<class name="TestScript.Transaction"></class>
<class name="TestScript.Reports"></class>
<class name="TestScript.AdminFinanceReportTest"></class>
<class name="TestScript.MerchantTest"></class>







<class name="TestScript.DeleteAll"></class>

  </classes>
  
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
