<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test thread-count="5" name="Test">
  
  <parameter name="BrowserName" value="chrome"></parameter>
<!--    <parameter name="BrowserName" value="Edge"></parameter> -->
  
  <classes>
  
<!-- <class name="TestScript.TestCases"></class>
<class name="TestScript.SettingTestCase"></class> -->
<!-- <class name="TestScript.RegressionTest"></class> -->
<class name="TestScript.JiraTestCases"></class>

  </classes>
  
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
